# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [4]:
a= "Mrunal"
b= "Raskar"

print(a)



a=30
print(a)


a=b
print(a)

Mrunal
30
Raskar

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [5]:
a,b,c = 1,2,3


a,b,c=c,b,a

print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [7]:
string="This is a test!"



string[::-1]

'!tset a si sihT'

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [14]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
x=(clubs [0]in membership),
y=(clubs [1] in membership),
z=(clubs [2] in membership),
w=(clubs [3] in membership),
v=(clubs [4] in membership)
list=[x,y,z,w,v]
print(list)

list=[(x and 1),(0 and y),(0 and z),(w and 1),(0 and v)]
print(list)

[(True,), (False,), (False,), (True,), False]
[1, 0, 0, 1, 0]

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [ ]:
expression = 4_6_9_3_23_19 
print(expression)

# write your code here

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [15]:
lower=0
upper=100
print("Prime number between",lower,"and",upper,"are:")
for num in range(lower,upper):
    if num>1:
        for i in range(2,num):
            if (num %i)==0:
                break
        else:print(num,"i was a prime.")

Prime number between 0 and 100 are:
2 i was a prime.
3 i was a prime.
5 i was a prime.
7 i was a prime.
11 i was a prime.
13 i was a prime.
17 i was a prime.
19 i was a prime.
23 i was a prime.
29 i was a prime.
31 i was a prime.
37 i was a prime.
41 i was a prime.
43 i was a prime.
47 i was a prime.
53 i was a prime.
59 i was a prime.
61 i was a prime.
67 i was a prime.
71 i was a prime.
73 i was a prime.
79 i was a prime.
83 i was a prime.
89 i was a prime.
97 i was a prime.

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [16]:
list1 = ['abc','xyz','aba','1221']
# Write your code here
n=0
i=0
for i in range(4):
    string = list1[i]
    x=string[0]
    y=string[-1]
    if x==y :
        n=n+1
    else:
        continue
print(n)

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [17]:
# Write your code here
list1=[2,4,5,11,14,21,39,42,50,33,53]
list2=[i for i in list1 if i%2!=0]
print(list2)

[5, 11, 21, 39, 33, 53]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** :

**Expected Output**:

{'city': 'New york', 'age': 25}

In [20]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here
value=sampleDict.pop('name')
value=sampleDict.pop('salary')
sampleDict

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [29]:
# Write your code here

n=int(input("Enter number of students:"))
student_Dict={}
for i in range (n):
    print("Enter details of student No.",i+1)
    rno=int(input("roll No:"))
    name=input("name:")
    stream=input("stream:")
    student_Dict[rno]=[name,stream]
    print(student_Dict)

Enter number of students:10
Enter details of student No. 1
roll No:101
name:A
stream:science
{101: ['A', 'science']}
Enter details of student No. 2
roll No:102
name:B
stream:commerce
{101: ['A', 'science'], 102: ['B', 'commerce']}
Enter details of student No. 3
roll No:103
name:C
stream:arts
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts']}
Enter details of student No. 4
roll No:104
name:D
stream:science
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science']}
Enter details of student No. 5
roll No:105
name:E
stream:commerce
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce']}
Enter details of student No. 6
roll No:106
name:F
stream:arts
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce'], 106: ['F', 'arts']}
Enter details of student No. 7
roll No:107
name:G
stream:science
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce'], 106: ['F', 'arts'], 107: ['G', 'science']}
Enter details of student No. 8
roll No:108
name:H
stream:commerce
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce'], 106: ['F', 'arts'], 107: ['G', 'science'], 108: ['H', 'commerce']}
Enter details of student No. 9
roll No:109
name:I
stream:arts
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce'], 106: ['F', 'arts'], 107: ['G', 'science'], 108: ['H', 'commerce'], 109: ['I', 'arts']}
Enter details of student No. 10
roll No:110
name:J
stream:science
{101: ['A', 'science'], 102: ['B', 'commerce'], 103: ['C', 'arts'], 104: ['D', 'science'], 105: ['E', 'commerce'], 106: ['F', 'arts'], 107: ['G', 'science'], 108: ['H', 'commerce'], 109: ['I', 'arts'], 110: ['J', 'science']}

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [36]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them
for i in (set1):
    for j in (set2):
        if i==j:
            print("Two sets have items in comman",{i})

Two sets have items in comman {10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [38]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list
list2=[t[:-1] + (100,) for t in list1 ]
print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [45]:
# Write Your code here
def shownumber(limit):
    for i in range(0,limit):
        if i%2==0:
            print(i,"EVEN")
        else:
            print(i,"ODD")
print(shownumber(4))

0 EVEN
1 ODD
2 EVEN
3 ODD
None

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [54]:
# Write your code here
def shownumber(limit):
    lower=0
    upper=100
    print("Prime number between",lower,"and",upper,"are:")
    for num in range(lower,upper+1):
        if num>1:
            for i in range (2,num):
                if (num % i)==0:
                    break
            else:print(num)
print(shownumber(10))

Prime number between 0 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [57]:
# Write your code here 
class students():
    def __init__(self):
        self.name ="mrunal"
        self.age =18
        self.favsub ="EG"
        self.fav_list =["EG","Mechanics","Chemistry"]
        
    def getDetails(d):
        print("Name:", d.name)
        print("age:", d.age)
        print("Favorite subject:",d.favsub)
    def isFav(e):
        print(e.favsub in e.fav_list)
s = students()
s1 = students()
s.getDetails()
s.isFav()
s1.name=str(input("enter name:\n"))
s1.age=int(input("enter age:\n"))
s1.favsub=str(input("enter favorite subject:\n"))
s1.getDetails()
s1.isFav()

Name: mrunal
age: 18
Favorite subject: EG
True
enter name:
saloni
enter age:
16
enter favorite subject:
science
Name: saloni
age: 16
Favorite subject: science
False